.setplaces-buttons-page5{
  display: flex;
  flex-direction: row;
justify-content: flex-start;
  align-items: center;
}

.button1-page5,
.button2-page5
{
    background-color: #FFF6E9;
    padding:1vh;
    border-radius: 0.5rem;
    margin-right: 2vw;
    margin-top: 4vh;
    margin-bottom: 2vh;
    border: 1px solid black;
}